<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.openim.android.ouicalling">

    <application>

        <receiver android:name=".JumpReceiver" />

        <activity
            android:name=".LockPushActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeWithoutAnim" />

        <service android:name=".service.AudioVideoService" />
        <service
            android:name=".service.AudioVideoDaemonService"
            android:process="openim.daemon" />
    </application>

</manifest>
