<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.openim.android.ouigroup">

    <application>
        <activity
            android:name=".ui.GroupMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GroupMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CreateGroupActivity"
            android:exported="false" />
        <activity android:name=".ui.InitiateGroupActivity" />
        <activity android:name=".ui.GroupDetailActivity" />
    </application>

</manifest>
