<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.openim.android.ouicontact" >

    <application>
        <activity
            android:name=".ui.search.SearchGroupAndFriendsActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.search.SearchGroupActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.CreateLabelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LabelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyGroupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ForwardToActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AllFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FriendRequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NewFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GroupNoticeListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GroupNoticeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DebugActivity"
            android:exported="true" />
    </application>

</manifest>
