<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.openim.android.ouimoments">

    <application android:theme="@style/Theme.Demo">

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ImagePagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MsgDetailActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ToUserMomentsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>
